@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
html * {
  color: black;
  margin: 0;
  padding: 0;
}
#titulo {
  color: black;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: 50px;
  font-style: oblique;
  font-weight: 400;
  background-color: CadetBlue;
  padding: 10px 20px;
}
#infocidade {
  padding: 40px;
  text-align: center;
  font-family: 'STIX Two Text', serif;
  font-size: 20px;
  font-style: oblique;
  color: black;
}
ul {
  text-align: center;
  font-family: 'STIX Two Text', serif;
  font-size: 15px;
  font-style: oblique;
  margin: 20px 0px;
}
#corpo {
  background-image: url('https://www.afd.fr/sites/afd/files/styles/visuel_principal/public/2019-09-11-23-36/benin-village-eau-stephane-brabant.jpg?itok=HcrUVsO_');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
#principal {
  text-align: center;
  color: white;
}

.subtitulo {
  color: black;
  text-align: center;
  font-family: 'STIX Two Text', serif;
  font-size: 35px;
  font-style: oblique;
  font-weight: 200;
  padding: 10px;
}
#cantoinferior {
  text-align: center;
  padding: 20px;
}
.icones {
  margin: 15px;
  width: 60px;
  height: 60px;
}
